.lead__subtitle {
    font-size: 30px;
    max-width: 640px;
    line-height: 36px;
    font-family: "Inter Regular", serif;
    text-align: center;
    margin: 32px auto 64px;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 24px;
        line-height: 30px;
        margin: 16px auto 40px;
    }
}

@media screen and (max-width: 500px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}