.cover {
    max-width: 1184px;
    margin: 90px auto 88px;
}

.cover:hover .cover__image {
    opacity: 0.5;
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 62px auto 64px;
    }
}