.footer {
    font-family: "Inter Regular", serif;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 24px;
    max-width: 1184px;
    width: calc(100% - 48px * 2);
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        row-gap: 48px;
    }
}